.entry-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(232, 232, 226, 0.731);
    border: 5px black;
    border-width: 1px;
    padding: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 10%;
}

.delete-button {
    border-radius: 12px;
    padding:0.5% 1%;
    font-size: 130%;
    background-color:  rgba(232, 232, 226, 0.904);
}