.journal-entries-wrapper {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(232, 232, 226, 0.731);
    border: 5px black;
    border-width: 1px;
    padding: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 10%;
}